<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887279743911-tsjv3ak8m0n5b8e27tq8lics9ouvussq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887279743911-tsjv3ak8m0n5b8e27tq8lics9ouvussq</string>
	<key>API_KEY</key>
	<string>AIzaSyBDB57NoH39Dtf-yBbqly9r-liVtk5j1tA</string>
	<key>GCM_SENDER_ID</key>
	<string>887279743911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HenrryGarcia.GoPlaceCliente</string>
	<key>PROJECT_ID</key>
	<string>goplace-15057</string>
	<key>STORAGE_BUCKET</key>
	<string>goplace-15057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887279743911:ios:806c614e647a019e6f7c82</string>
</dict>
</plist>